<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WinFormsApp1.Properties.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <WinFormsApp1.Properties.Settings1>
            <setting name="money" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="point" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="status" serializeAs="String">
                <value />
            </setting>
            <setting name="moon" serializeAs="String">
                <value />
            </setting>
            <setting name="pc" serializeAs="String">
                <value />
            </setting>
            <setting name="flash" serializeAs="String">
                <value />
            </setting>
            <setting name="hard" serializeAs="String">
                <value />
            </setting>
            <setting name="modem" serializeAs="String">
                <value />
            </setting>
            <setting name="cd" serializeAs="String">
                <value />
            </setting>
            <setting name="soundblaster" serializeAs="String">
                <value />
            </setting>
            <setting name="system" serializeAs="String">
                <value />
            </setting>
            <setting name="antivirus" serializeAs="String">
                <value />
            </setting>
            <setting name="program" serializeAs="String">
                <value />
            </setting>
            <setting name="bbs" serializeAs="String">
                <value />
            </setting>
            <setting name="job" serializeAs="String">
                <value />
            </setting>
            <setting name="salary" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="month" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="years" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="day" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="time" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="user" serializeAs="String">
                <value />
            </setting>
            <setting name="rdate" serializeAs="String">
                <value>0</value>
            </setting>
        </WinFormsApp1.Properties.Settings1>
    </userSettings>
</configuration>